**/archive_src/*
**/node_modules/*
**/data/*
**/archive/*
**/__pycache__/*
**/.ipynb_checkpoints/*
*.ipynb
*~
**/.vscode
glove.6B.zip
**/.env
app_data/*
.app_data
.tmp
.idea
.vscode
log/
.DS_Store
**/playground/**
*.log
out
runtime